# 문제1. 약수 구하기 

### 양의 정수를 입력 받고 그 수의 약수를 모두 출력하는 프로그램 작성

In [1]:
def divisor(n) :
    for i in range(1, n+1 ): 
        if n % i == 0:
            print(i,"(은)는 약수")

In [2]:
print(divisor(100))

1 (은)는 약수
2 (은)는 약수
4 (은)는 약수
5 (은)는 약수
10 (은)는 약수
20 (은)는 약수
25 (은)는 약수
50 (은)는 약수
100 (은)는 약수
None

# 문제2. 리그 경기 횟수 구하기 

### 리그에 속해있는 팀의 수 n이 주어지고 각 팀은 자신을 제외한 모든 팀과 한 경기씩 치루어 순위를 가리는 스포츠 리그전에서 치루어지는 경기의 수를 구하는 프로그램을 작성하십시오.

2팀이면 1경기, 3팀이면 3경기, 4팀이면 6경기가 치루어 집니다.

In [3]:
def sum_ga(n) : 
    return n * (n - 1) // 2
print(sum_ga(4))

6

# 문제3. 윤년(Leap Year)

### 아래의 조건을 만족하는 해는 윤년(leap year)이라고 합니다.

### 서력기원으로 연수가 4로 나누어 떨어지는 해는 윤년으로 한다.
### (2004년, 2008년, 2012년, 2016년, 2020년 ...)
### 이 중에서 100으로 나누어 떨어지는 해는 평년으로 한다.
### (1900년, 2100년, 2200년, 2300년 ...)
### 그중에 400으로 나누어 떨어지는 해는 윤년으로 둔다.
### (1600년, 2000년, 2400년 ...)

### 연도를 입력받고 윤년인지 아닌지를 결정하는 프로그램을 작성하십시오.

In [8]:
def ly(n):
    if n // 4 == 0 :
        print('윤년')
    elif n // 100 == 0 :
        print('평년')
    elif n // 400 == 0 :
        print('윤년')
    else :
        pass

In [9]:
print(ly(2016))

None